Repository jessety/env-smart: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix ., prettier --write '**/*.json', prettier --write '**/*.yml', prettier --write '**/*.md', sort-package-json

Remove superfluous development dependencies
  package.json
Due: prettier --write '**/*.json', sort-package-json

Refactor CI/CD workflow
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write '**/*.yml'

Format
  .vscode/extensions.json
  README.md
  examples/basic/basic.ts
  examples/basic/index.cjs
  examples/basic/index.mjs
  src/index.ts
  src/load.ts
  src/parse.ts
  src/type.ts
  tests/import.test.js
  tests/load.test.ts
  tests/parse-basics.test.ts
  tests/parse-extended.test.ts
  tests/parse-file.test.ts
  tests/parse-options.test.ts
  tests/type.test.js
  tests/type.test.ts
  tsconfig.json
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix ., prettier --write '**/*.json', prettier --write '**/*.md'

Adjust tests
  tests/import.test.js
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Make test tooling work with older versions of node
  tests/load.test.ts
  tests/parse-file.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Adjust tests for older versions of node, again
  tests/load.test.ts
  tests/parse-file.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Don't run tests on Node 10
  .github/workflows/ci.yml
  tests/load.test.ts
  tests/parse-file.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix ., prettier --write '**/*.yml'

fs.rmdir is deprecated
  tests/load.test.ts
  tests/parse-file.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Adjust `parseFile` types
  src/parse.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Adjust publish action
  .github/workflows/ci.yml
Due: prettier --write '**/*.yml'

2.2.2
  package.json
Due: prettier --write '**/*.json', sort-package-json

Adjust publish workflow
  .github/workflows/ci.yml
Due: prettier --write '**/*.yml'

2.2.3
  package.json
Due: prettier --write '**/*.json', sort-package-json

Adjust buffer encoding types
  src/load.ts
  src/parse.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

2.2.4
  package.json
Due: prettier --write '**/*.json', sort-package-json

Bump deps
  package.json
Due: prettier --write '**/*.json', sort-package-json

Update linting configuration
  package.json
Due: prettier --write '**/*.json', sort-package-json

2.2.5
  package.json
Due: prettier --write '**/*.json', sort-package-json

Add typed config function
  examples/typed/.env
  examples/typed/.env.defaults
  examples/typed/typed.ts
  src/config.ts
  src/index.ts
  src/load.ts
  src/parse.ts
  src/type.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Add unit test for config function
  src/config.ts
  tests/config.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix .

Add typed configuration to readme
  README.md
  examples/typed/typed.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix ., prettier --write '**/*.md'

F
  README.md
Due: prettier --write '**/*.md'

Fix formatting issue
  README.md
  examples/typed/typed.ts
  package.json
  src/config.ts
  src/type.ts
  tests/config.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix ., prettier --write '**/*.json', prettier --write '**/*.md', sort-package-json

Run tests on Node 18.x in CI
  .github/workflows/ci.yml
Due: prettier --write '**/*.yml'

2.3.0
  package.json
Due: prettier --write '**/*.json', sort-package-json

2024 Maintenance
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  package.json
Due: prettier --write '**/*.json', prettier --write '**/*.yml', sort-package-json

2.3.1
  package.json
Due: prettier --write '**/*.json', sort-package-json

Maintenance Release
  .github/workflows/ci.yml
  package.json
  tests/config.test.ts
Due: prettier --write '**/*.{ts,js,mjs,cjs}', eslint --fix ., prettier --write '**/*.json', prettier --write '**/*.yml', sort-package-json

2.3.2
  package.json
Due: prettier --write '**/*.json', sort-package-json

Path conditions:
  prettier --write '**/*.{ts,js,mjs,cjs}': any of: *.{ts,js,mjs,cjs}
  eslint --fix .: any of: *.{ts,js,mjs,cjs}
  prettier --write '**/*.json': any of: *.json
  prettier --write '**/*.yml': any of: *.yml
  prettier --write '**/*.md': any of: *.md
  sort-package-json: any of: package.json
